@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

// Common css
body {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  border: solid 0.5px #d7d7d7;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
  @media screen and (max-width: 1200px){
    width: auto;
  }
}

.btn {
  outline: none;
  border-radius: 3px;
  transition: 0.1s all linear;
  &:active {
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.15);
  }
}

.text-center {
  text-align: center;
}

.line-header {
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  &:after {
    background: white;
    color: #787878;
    content: attr(data-content);
    font-size: 18px;
    font-weight: 400;
    left: 20px;
    padding: 0 10px;
    position: absolute;
    top: -12px;
  }
}

// Url Fetcher component
.header {
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  &:after {
    background: #4CAF50;
    border-radius: 5px;
    bottom: -10px;
    content: '';
    height: 4px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 2em;
  }
}

.url-box {
  display: grid;
  grid-template-columns: auto 125px;
  .url-in-txt {
    border-radius: 3px 0 0 3px;
    border: solid 1px #ccc;
    font-size: 16px;
    font-weight: 300;
    height: 38px;
    outline: none;
    padding: 0 15px;
    width: 100%;
  }
  .green-btn {
    background: #48b04b;
    border-radius: 0 3px 3px 0;
    border: none;
    color: white;
    font-size: 16px;
    height: 38px;
    padding: 5px 20px;
    margin-left: -1px;
    cursor: pointer;
  }
}

// summary
.summary {
  .url-summary {
    margin-bottom: 40px;
  }
  .title {
    font-size: 16px;
    font-weight: 400;
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
  }
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 30px;
  .grid-col {
    text-align: center;
    border: solid 1px #e4e4e4;
    border-radius: 5px;
    padding: 20px 0;
  }
}

// Result area
.result-area {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 50px;
  .tags,
  .source {
    grid-row: 1;
    max-width: 600px;
  }
  .tags li {
    cursor: pointer;
    margin: 15px 0;
  }
  .tags li.active {
    color: #48b04b;
  }
  .source-sticky {
    position: sticky;
    top: 40px;
    height: 0%;
    display: block;
  }
}